h1 {
    color: #808080;
}
.box-info {
    background-color: #8cffff;
    font-weight: bold;
    text-align: center;
    border: 2px solid #a5a5a5;
    width: 500px;
    margin: 0 auto;
    flex: 2;
}
.box-with-list {
    background-color: #ffb6c1;
    text-align: left;
    width: 450px;
    flex: 1;
}
.numbered-list {
    width: 700px;
    background-color: #ffffe0;
    border: 1px solid #000000;
    flex: 1;
}
.box-with-list h1 {
    text-align: center;
    color: #000000;
}
a:link {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#contact {
    color: #006400;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #808080;
}
.sidebar li {
    display: block;
    width: 85px;
}
.sidebar li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}
.sidebar li a:hover {
    background-color: #90ee90;
}

.big-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
     .box-with-list
     .box-info
     .big-box {
      width: 33%;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .box-with-list
     .box-info
     .big-box {
      width: 240px;
    }
  }

